.card {
  padding: 10px;
  color: gold;
}

.card > div {
  padding: 10px;
  height: 250px;
  width: 70%;
  background-color: white;
  margin: 0 auto;
}

.card:hover {
  cursor: pointer;
  outline: 1px solid gold;
  transform: scale(1.03);
  transition: all 0.2s;
}

.images {
  height: 290px;
  width: 250px;
}
